@media (max-width:600px) {
    #main__Title{
        font-size: 30px;
    }
    .container{
        box-shadow: none;
        border: none;
    }
    .personal__scale__container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #current__Colour{
        width: 150px;
        height: 225px;
    }
    .scales{
        margin-top: 5px;
    }
    #current__HEX{
        font-size: 18px;
    }

}